{% extends "base.html" %}
{% block title %}HomePage{% endblock %}

{% block content %}
    <h1>test2 page</h1>

    <h1>London</h1>
    <hr>
    <hr>
    <hr>

    <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>


    <pre>

        My Bonnie lies over the ocean.
    
        My Bonnie lies over the sea.
    
        My Bonnie lies over the ocean.
    
        Oh, bring back my Bonnie to me.
    </pre>


    

    <h1 style="text-align:center; background-color: tomato; color: slateblue; border:25px solid hsla(229, 92%, 19%, 0.5);", >This is a heading</h1>

    <p style="text-align:center;">This is a paragraph.</p>

    

    
    <p style="font-family: 'Times New Roman', Times, serif;">This is a paragraph.</p>

    <p style="text-align:center;">This is a paragraph.</p>

    <p style="font-size:50px;">This is a paragraph.</p>

    <body style="background-color:dimgrey;">


    <p style="background-color: dodgerblue;">Here is a quote from WWF's website:</p>

    <blockquote cite="http://www.worldwildlife.org/who/index.html">
        For 60 years, WWF has worked to help people and nature thrive. As the world's leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
    </blockquote>
    <p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q> [use Q for short Quotes.]</p> 
    <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948. [use abbr tittle equals double quotes to mouse hover</p>
    <br>
    <p><address>
        Written by John Doe.<br> 
        Visit us at:<br>
        Example.com<br>
        Box 564, Disneyland<br>
        USA<br>
        </address>it normally renders in italic, but not in this case dkw</body></p>
    <br>
    <img src="C:/Users/Bruno/Documents/BRUNO/Programming2/LearnFlask/CSSImage/static/images/img_the_scream.jpg" width="220" height="277" alt="The Scream">
    <p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>
    <br>
    <p><bdo dir="rtl">This line will be written from right to left</bdo><br>This line will be written from right to left</p>

{% endblock %}