{% extends "base.html" %}
{% block title %}HomePage{% endblock %}

{% block content %}
    <h1>test2 page</h1>

    <h1>London</h1>
    <hr>
    <hr>
    <hr>

    <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>


    <pre>

        My Bonnie lies over the ocean.
    
        My Bonnie lies over the sea.
    
        My Bonnie lies over the ocean.
    
        Oh, bring back my Bonnie to me.
    </pre>


    

    <h1 style="text-align:center;">This is a heading</h1>

    <p style="text-align:center;">This is a paragraph.</p>

    

    
    <p style="font-family: 'Times New Roman', Times, serif;">This is a paragraph.</p>

    <p style="text-align:center;">This is a paragraph.</p>

    <p style="font-size:50px;">This is a paragraph.</p>

    <body style="background-color:yellow;">

{% endblock %}